name: Build

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghidra:  ["11.4.2", "12.0.3"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: "21"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.10"
      - name: Setup Ghidra
        uses: antoniovazquezblanco/setup-ghidra@cacffdd46c5f53356e6a7822a2743a39f57d1958
        with:
          auth_token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ matrix.ghidra }}
      - name: Build Extension
        run: gradle -PGHIDRA_INSTALL_DIR=${{ env.GHIDRA_INSTALL_DIR }} buildExtension
      - name: Get Path
        run: echo "AR_EXTENSION_PATH=$(echo dist/*ghidra_psx_ldr.zip)" >> $GITHUB_ENV
      - name: Get Name
        run: echo "AR_EXTENSION_NAME=$(echo dist/*ghidra_psx_ldr.zip | cut -c 6-)" >> $GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.AR_EXTENSION_NAME }}
          path: ${{ env.AR_EXTENSION_PATH }}
